:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  h1 {
    font-size: 12vh;
  }

  h2 {
      font-size: 8vh;
  }
  
  p {
    font-weight: normal;
  }
  
  .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 23vh 3vh;
  }
  
  .hero p {
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }
  
  .hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 3vh;
  }
  
  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 2vh;
    line-height: 27px;
    padding: 2vh 4vh;
  }

  .btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .project-desciption {
    padding: 120px 60px;
  }
  
  @media (max-width: 900px) {
    h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    h2 {
      font-size: 44px;
    }
  
    .hero {
      padding: 80px 20px;
    }
  
    .project-desciption {
      padding: 0;
      text-align: center;
    }
  }

  .text-center {
    text-decoration: underline;
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
}

  .navbar-light .navbar-nav .nav-link:hover,
   nav .active a {
      color: var(--branding-color);
  }

  .work-inquiry {
      width: 100%;
      background-color: var(--secondary-color);
      border-radius: 20px;
      display: flex;
      align-items: center;
  }

  .work-inquiry.h3 {
      font-size: 6vh;
  }

  .about-section {
    margin: 10% auto;
    text-align: center;
  }

  .about-section h1 {
    font-size: 8vh;
  }

  .about-section h2 {
    font-size: 3vh;
    font-family: var(--default-font-family);
  }
  
  .about-section img {
    border-radius: 10%;
  }

  .work h1 {
    margin-bottom: 10%;
  }

  .work h3 {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 3vh;
  }

.container-contact {
  text-align: center;
}

.container-contact h1 {
  margin-top: 10%;
}

.container-contact h3{
  font-family: poppins;
}

.container-contact a {
  color: var(--branding-color);
}


footer {
  margin: 60px 0;
  text-align: center;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
 
footer .btn-branding {
  color: white;
}
